<div class="media">
    <figure class="pull-left">
    <a class="pull " {% if include.person.url %} href="{{ include.person.url }}" {% endif %}>  
    <div class="image_cover">
    <img src="/img/people/{{ include.person.img }}.png" alt="" class="company-header-avatar" style="max-width:200px; height:auto; "/>
    </div>
    </a>
    <figcaption style="text-align: center;">{{ include.person.name }}</figcaption>
    </figure>
  <div class="media-body">

    {% if include.person.about %}
        <div class="triangle-right left">
        {{ include.person.about | markdownify }}
        </div>
    {% endif %}

  </div>
</div>
